.container{
    padding: 15px;
    font-size: larger;
    font-weight: bold;
    border: solid thin #aaa;
    background-color: #ddd;
    border-radius: 10px;
    color: #aaa;
    text-decoration: none;
    margin-left: 2px;
}

.container:hover{
    background-color: #E5B5D9;
    text-decoration: none;
    color: #B272A6;
    border-color: #B272A6;
}

.activeClass{
    border: solid thin #B272A6;
    background-color: #F6C6EA;
    color: #B272A6;
}