.container{
    text-align: center;
    padding-top: 20px;
}

button {
    padding: 15px;
    border: solid thin #000;
    border-radius: 10px !important;
    font-weight: bold;
    width: 100%;
}


.success {
    background-color: #C3F584;
    border-color: #90B251;
    color: #406000;
}

.success:hover{
    background-color: #b4e473;
    cursor: pointer;
}